<section class="pb-10 relative">
  <div className="absolute inset-0 bg-heroPatternLight dark:bg-heroPatternDark"></div>
  <div class="relative overflow-hidden">
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">

      <div class="mt-5 max-w-2xl text-center mx-auto">
        <h1
          class="block font-bold text-gray-800 dark:text-white text-3xl md:text-5xl lg:text-6xl">
          Dans quel secteur se cache votre prochaine
          <span class="text-gray-800 dark:text-white">pépites?</span>
          <div id=container>
            <div id=flip>
              <div><div>Les finances</div></div>
              <div><div>La Santé</div></div>
              <div><div>Les Etudes</div></div>
            </div>
          </div>
        </h1>
      </div>

      <div class="mt-8 mx-auto max-w-3xl space-y-2">
        <app-search (onSearchChange)="showNewQuery($event)" />
      </div>

    </div>
  </div>

  <div class="max-w-6xl mx-auto px-4">
    <div
      class="w-full relative bg-purple-200 rounded-xl px-2 pt-8 space-y-4 md:space-y-0">
      <div
        class="relative md:absolute inset-0 z-[1] bg-transparent md:px-10 order-0">
        <div class="h-full grid place-content-center md:w-1/2 lg:w-2/5">
          <div class="px-8 space-y-3 text-center md:text-left">
            <h1
              class="text-purple-950 text-4xl font-bold mb-4 text-center md:text-left">
              Votre prochain profile en quelques clicks
            </h1>
            <p class="text-center md:text-left">
              Le moyen le plus simple de trouver le/la candidat(e) qu'il vous faut.
            </p>
            <button
              class="items-center flex gap-2 px-12 py-3 rounded-full text-white bg-purple-900 mx-auto md:m-0">
                  <span class="inline-block w-5 h-5">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-full h-full fill-current"
                      viewBox="0 -960 960 960">
                      <path
                        d="M480-80Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552l84-84 56 56-180 180-180-180 56-56 84 84q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186q20-18 37-35l34-34q-5-10-8-21.5t-3-23.5q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29q-8 0-14.5-1t-13.5-3q-29 30-61.5 61T480-80Z" />
                    </svg>
                  </span>
              <span>Réchercher maintenant</span>
            </button>
          </div>
        </div>
      </div>
      <img
        class="w-full h-auto hidden md:inline-block"
        src="https://www.tripadvisor.ca/img2/trips/home-gai-entry-dv.png"
        alt="" />
      <img
        class="w-full h-auto block md:hidden"
        src="https://www.tripadvisor.ca/img2/trips/home-gai-entry-mv.png"
        alt="" />
    </div>
  </div>

</section>

