<footer class=" py-4 w-full min-h-full  bg-white dark:bg-gray-900 ">
  <div class="max-w-[80rem] mx-auto space-y-6 px-2 md:px-4 lg:px-6 pt-4">
    <div class="h-px w-full bg-gray-900/10 bg-gray-800 dark:bg-white"></div>
    <div
      class="flex flex-row justify-between items-center text-sm text-gray-600">
      <a
        [routerLink]="['/']"
        class="inline-flex items-center gap-1">
        <span class="inline-block text-xl text-gray-800 dark:text-white">TrouveTonProfile</span>
      </a>

      <ul class="flex items-center gap-4">
        <li>
          <a [routerLink]="['/conditions']" class="inline-block text-gray-800 dark:text-white">Conditions</a>
        </li>
        <li>
          <a [routerLink]="['/terms']" class="inline-block text-gray-800 dark:text-white">Terms</a>
        </li>
        <li>
          <a [routerLink]="['/politiques']" class="inline-block text-gray-800 dark:text-white">Politiques</a>
        </li>
      </ul>

      <ul class="flex items-center gap-4">
        <li>
          <a
            target="_blank"
            href="#"
            class="inline-block rounded-full h-8 w-8 p-2 border text-gray-800 dark:text-white">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-full h-full fill-current"
              viewBox="0 0 448 512">
              <path
                d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"/>
            </svg>
          </a>
        </li>
        <li>
          <a
            target="_blank"
            href="#"
            class="inline-block rounded-full h-8 w-8 p-2 border text-gray-800 dark:text-white">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-full h-full fill-current"
              viewBox="0 0 24 24">
              <g
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2">
                <path d="M0 0h24v24H0z"/>
                <path
                  fill="currentColor"
                  d="M18 2a1 1 0 0 1 .993.883L19 3v4a1 1 0 0 1-.883.993L18 8h-3v1h3a1 1 0 0 1 .991 1.131l-.02.112l-1 4a1 1 0 0 1-.858.75L17 15h-2v6a1 1 0 0 1-.883.993L14 22h-4a1 1 0 0 1-.993-.883L9 21v-6H7a1 1 0 0 1-.993-.883L6 14v-4a1 1 0 0 1 .883-.993L7 9h2V8a6 6 0 0 1 5.775-5.996L15 2z"/>
              </g>
            </svg>
          </a>
        </li>
        <li>
          <a
            target="_blank"
            href="#"
            class="inline-block rounded-full h-8 w-8 p-2 border text-gray-800 dark:text-white">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-full h-full fill-current"
              viewBox="0 0 512 512">
              <path
                d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
